In [1]:
import pandas as pds

In [3]:
df = pds.read_csv("/content/drive/MyDrive/gapminder.csv", error_bad_lines=False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [23]:
df.head()

     continete continent   ano  expectativa de vida  população   gdpPercap
0  Afghanistan      Asia  1952               28.801    8425333  779.445314
1  Afghanistan      Asia  1957               30.332    9240934  820.853030
2  Afghanistan      Asia  1962               31.997   10267083  853.100710
3  Afghanistan      Asia  1967               34.020   11537966  836.197138
4  Afghanistan      Asia  1972               36.088   13079460  739.981106

In [31]:
df = df.rename(columns={"continete":"país","continent":"continente","year":"ano","lifeExp":"expectativa de vida","pop":"população","gdpPercap":"PIB"})

In [32]:
df.head(10)

          país continente   ano  expectativa de vida  população         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106
5  Afghanistan       Asia  1977               38.438   14880372  786.113360
6  Afghanistan       Asia  1982               39.854   12881816  978.011439
7  Afghanistan       Asia  1987               40.822   13867957  852.395945
8  Afghanistan       Asia  1992               41.674   16317921  649.341395
9  Afghanistan       Asia  1997               41.763   22227415  635.341351

In [29]:
df.shape

(1704, 6)

In [30]:
df.columns

Index(['país', 'continente', 'ano', 'expectativa de vida', 'população',
       'gdpPercap'],
      dtype='object')

In [34]:
df.dtypes

país                    object
continente              object
ano                      int64
expectativa de vida    float64
população                int64
PIB                    float64
dtype: object

In [35]:
df.tail()

          país continente   ano  expectativa de vida  população         PIB
1699  Zimbabwe     Africa  1987               62.351    9216418  706.157306
1700  Zimbabwe     Africa  1992               60.377   10704340  693.420786
1701  Zimbabwe     Africa  1997               46.809   11404948  792.449960
1702  Zimbabwe     Africa  2002               39.989   11926563  672.038623
1703  Zimbabwe     Africa  2007               43.487   12311143  469.709298

In [36]:
df.describe()

              ano  expectativa de vida     população            PIB
count  1704.00000          1704.000000  1.704000e+03    1704.000000
mean   1979.50000            59.474439  2.960121e+07    7215.327081
std      17.26533            12.917107  1.061579e+08    9857.454543
min    1952.00000            23.599000  6.001100e+04     241.165876
25%    1965.75000            48.198000  2.793664e+06    1202.060309
50%    1979.50000            60.712500  7.023596e+06    3531.846988
75%    1993.25000            70.845500  1.958522e+07    9325.462346
max    2007.00000            82.603000  1.318683e+09  113523.132900

In [37]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

ano                    1.979500e+03
expectativa de vida    5.947444e+01
população              2.960121e+07
PIB                    7.215327e+03
dtype: float64

In [38]:
df["continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [39]:
oceania= df.loc[df["continente"]=="Oceania"]

In [40]:
oceania

,país,continente,ano,expectativa de vida,população,PIB
60,Australia,Oceania,1952,69.120,8691212,10039.59564
61,Australia,Oceania,1957,70.330,9712569,10949.64959
62,Australia,Oceania,1962,70.930,10794968,12217.22686
63,Australia,Oceania,1967,71.100,11872264,14526.12465
64,Australia,Oceania,1972,71.930,13177000,16788.62948
65,Australia,Oceania,1977,73.490,14074100,18334.19751
66,Australia,Oceania,1982,74.740,15184200,19477.00928
67,Australia,Oceania,1987,76.320,16257249,21888.88903
68,Australia,Oceania,1992,77.560,17481977,23424.76683
69,Australia,Oceania,1997,78.830,18565243,26997.93657
70,Australia,Oceania,2002,80.370,19546792,30687.75473
71,Australia,Oceania,2007,81.235,20434176,34435.36744
1092,New Zealand,Oceania,1952,69.390,1994794,10556.57566
1093,New Zealand,Oceania,1957,70.260,2229407,12247.39532
1094,New Zealand,Oceania,1962,71.240,2488550,13175.67800
1095,New Zealand,Oceania,1967,71.520,2728150,14463.91893
1096,New Zealand,Oceania,1972,71.890,2929100,16046.03728
1097,New Zealand,Oceania,1977,72.220,3164900,16233.71770
1098,New Zealand,Oceania,1982,73.840,3210650,17632.41040
1099,New Zealand,Oceania,1987,74.320,3317166,19007.19129
1100,New Zealand,Oceania,1992,76.330,3437674,18363.32494
1101,New Zealand,Oceania,1997,77.550,3676187,21050.41377
1102,New Zealand,Oceania,2002,79.110,3908037,23189.80135
1103,New Zealand,Oceania,2007,80.204,4115771,25185.00911

In [41]:
df.groupby("continente")["país"].nunique()

continente
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: país, dtype: int64

In [42]:
df.groupby("ano")["expectativa de vida"].mean()

ano
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: expectativa de vida, dtype: float64

In [43]:
df["PIB"].mean()

7215.327081211972

In [44]:
df["PIB"].sum()

12294917.3463852